.quiz-create-form {
    margin: 0 auto;
    max-width: 1200px;
    padding: 10px;

    .control-section {
        margin: 2em 0 1em 0;
        text-align: center;
        width: 100%;

        & > * {
            margin: 0 8px 0 8px;
        }
    }
}
